*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Gabarito", sans-serif;
}
.navbar{
    padding:10px;
    display:flex;
    justify-content: space-between;
    border-bottom:solid black 2px;
    gap:10px;
    position: sticky;
    top:0;
    background-color: aliceblue;
}
.navbar__1__title{
    color:blueviolet;
} 
.navbar__2{
    padding:10px;
    border-bottom: solid black 2px;
    border-radius: 20px;
    width:60%;
    display:flex;
    gap:10px;
    
}
.navbar__2 input{
    border:none;
    width:50%;
    background-color: transparent;
}
.navbar__2 input:focus{
    outline:none;
}
.navbar__3{
    display:flex;
    gap:10px;
    flex-direction: row;
    align-items: center;
}
.navbar__4{
   display: none;
}
.categories{
    display:flex;
    justify-content: space-between;
    border-bottom:solid black 1px;
    padding:10px;
}
.categories p{
    background-color: blueviolet;
    color:white;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    border:solid blueviolet 1px;
}
.categories p:hover{
   background-color: transparent;
   color:black;
   border:solid blueviolet 1px;
   transition: 2s;
}
.image img{
    width:100%;
}
 .recommend{
    padding:10px;
 }
 .course-card img{
   width:100%; 
   height:50%;
 }
 .course-card{
    flex-grow: 1;
    flex-basis: 20%;
    margin: 5px;
 }
 .recommend__container{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
 }
 .footer{
    background-color: black;
    color:white;
 }
 .footer__section3{
    display: flex;
    justify-content: space-between;
 }
 .footer__section3__end {
    margin-top: 10px;
    
 }
 .section__section{
    display:flex;
    padding:10px;
    margin: 10px;
    gap:40px;  
 }
 .footer__section1 p,.footer__section2 p{
    margin: 20px;

 }
 .topic{
    padding:10px;
 }
 .Topics_container {
    display:flex;
    margin-top: 10px;
    gap:10px;
    flex-wrap: wrap;
 }
 .Topics_container p{
    border: solid gray 1px;
    flex-grow:1;
    flex-basis:25%;
    padding:10px;
 }
 .sale-img{
    background-color: white;
    border: solid black 1px;
    border-radius:10px ;
    position: relative;
    bottom:100px;
    left:30px;
    width: fit-content;
    padding:10px;
    animation-name: zoom;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
 }
 @keyframes zoom{
   0% {

      opacity: 0;
      transform: scale(0);
   
    }
    100%{
   opacity: 1;
   transform: scale(1);
} }
@media screen and (max-width:600px){

   body{
      font-size: 10px;
   }
   .course-card{
      flex-basis: 40%;
   }
   .navbar__2,.navbar__3{
      display: none;
   }
   .navbar__4{
      display:block;
   }

}

 

 
 

